.clear { clear: both;}

.mod-forum table.maintable {
	width: 100%;
}
.mod-forum table.maintable td.leftcol {
	width: 90%;
}
.mod-forum table.maintable td.leftcol .colbody {
	padding-right: 0.7em;
}
.mod-forum table.maintable td.rightcol {
	background-color: #F2F2F1;
	vertical-align: top;
}
.mod-forum table.maintable td.rightcol .colbody {
	padding: 0 0.6em;
	width: 220px;
}

.mod-forum .topiclist table {
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
}
.mod-forum .topiclist table th {
	font-size: 11px;
	background-color: #E7E8EE;
	font-weight: normal;
	padding: 0;
	white-space: nowrap;
	text-align: left;
}

.mod-forum .topiclist th span {
	display: block;
	margin: 5px 0 5px 5px;
	text-align: center;
}
.mod-forum .topiclist table th.tname {
	width: 70%;
}
.mod-forum .topiclist table th.tname span {
    margin-left: 20px;
    text-align: left;
}

.mod-forum .topiclist table td a {
	text-decoration: none;
}

.mod-forum .topiclist tr.row td {
	padding: 5px 3px 6px 3px;
}

.mod-forum .topiclist .tname .ch-tl {
	margin-left: 5px;
	white-space: nowrap;
	overflow: hidden;
	position: relative;
}
.mod-forum .topiclist .tname .ch-tl .shadow {
    background: url("/modules/forum/images/shadow.png") repeat-y scroll 0 0 transparent;
    height: 1.3em;
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
}

.mod-forum .topiclist tr.row:hover .tname .ch-tl .shadow,
.mod-forum .topiclist tr.row-hover .tname .ch-tl .shadow {
    background: url("/modules/forum/images/shadow-row.png") repeat-y scroll 0 0 transparent;
}

/* колонка кол-ва комментарий */
.mod-forum .topiclist table th.tcmtcount {
	width: 10em;
}

.mod-forum .topiclist table td.tcmtcount {
	vertical-align: middle;
	text-align: center;
}
.mod-forum .topiclist table th.tcmtcount .tl {
    margin-left: 1em;
}

/* колонка последний комментарий */
.mod-forum .topiclist table th.tlastcmt {
	width: 150px; 
}

.mod-forum .topiclist tr.row td.tlastcmt {
	padding: 0.1em 0.3em 0.1em 0.3em;
	font-size: 10px;
}
.mod-forum .topiclist tr.row td.tlastcmt .cmtdate {
	color: #839097;
}

.mod-forum .topiclist table .removed td,
.mod-forum .topiclist table .removed td .prtclr,  
.mod-forum .topiclist table .removed td a,
.mod-forum .topiclist table .removed td.tprt .tl {
	color: #839097; 
	text-decoration: line-through;
}


.mod-forum .topiclist tr.row:hover, 
.mod-forum .topiclist tr.row-hover {
	background: none repeat scroll 0 0 #FFF0C6;
}

.mod-forum .topiclist .tlmenu {
	margin-left: 10px;
}
.mod-forum .topiclist .tlitem {
	cursor: pointer;
	float: left;
	background-color: #E3E3D7;
	margin: 0 1px;
	padding: 5px 15px; 
}
.mod-forum .topiclist .tlitem:hover {
	text-decoration: underline;
	
}
.mod-forum .topiclist .current {
	background-color: #F4F4EE;
}
.mod-forum .topiclist .ttable {
	clear: both;
}


/* * * * Просмотр темы * * * */
.mod-forum .topicview a {
	text-decoration: none;
}

.mod-forum .topicview .topicbody {
	background-color: #F9F5DF;
	padding: 0.5em 1em;
}
.mod-forum .topicview .author {
	width: 220px;
	margin-left: 10px;
}

.mod-forum .colinfo .cirow  {
	margin: 5px 0;
	clear: both;
	padding-bottom: 3px;
	border-bottom: #73A110 1px dotted;
}
.mod-forum .colinfo .nobline {
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
	border-bottom: none !important;
}

.mod-forum .colinfo .tl {
	font-weight: bold; 
	clear: both;
}
.mod-forum .colinfo .tl {
	float: left;
}
.mod-forum .colinfo .vl {
	width: 100%;
}
.mod-forum .colinfo .vi {
	width: 100%;
	text-align: right;
}
.mod-forum .colinfo .status {
	text-align: center;
	font-size: 1.4em;
}

.mod-forum .colinfo ._dl .dt,
.mod-forum .colinfo .ddl .dt {
	font-size: 1.37em;
}
.mod-forum .colinfo ._dl .tm, 
.mod-forum .colinfo .ddl .tm {
	font-size: 1.2em;
}
.mod-forum .colinfo .user {
	font-weight: bold;
	margin-bottom: 5px;
}

.mod-forum .topicview .alarm  {
	background-color: #FFF2F2;
}

.mod-forum .topicview ul.dfiles {
	margin-top: 10px;
}
.mod-forum .topicview ul.dfiles li.tl {
	margin-right: 10px;
}
.mod-forum .topicview ul.dfiles li {
	float: left;
}
.mod-forum .topicview ul.dfiles div.file {
	margin-bottom: 5px;
}
