.aw-forum .topicview a {
    text-decoration: none;
}

.aw-forum .topicview .topicbody {
    background-color: #F9F5DF;
    padding: 0.5em 1em;
}

.aw-forum .topicview .imgcanvas {
    margin: 10px 0;
    position: relative;
}

.aw-forum .topicview .imgsave {
    margin-top: 1em;
    height: 1em;
    text-align: center;
}

.aw-forum .topicview .bimgsave {
    color: #D6583F;
    font-weight: bold;
}

.aw-forum .topicview .bimgsaveload {
    position: absolute;
    right: 15px;
    top: 12px;
}

.aw-forum .topicview .manbuttons {
    height: 22px;
}

.aw-forum .topicview .manbuttons,
.aw-forum .topicview .ptbuttons {
    margin: 1em 0;
}

.aw-forum .topicview .btkbt {
    border-bottom: 1px dotted;
    margin-right: 1em;
}

.aw-forum .topicview .beditor {
    color: #006699;
}

.aw-forum .topicview .bsetexec {
    color: #73A110;
    font-size: 1.5em;
}

.aw-forum .topicview .bremove {
    color: #D6583F;
}

.aw-forum .topicview .ptlistsh {
    color: #006699;
    font-size: 1.2em;
}

.aw-forum .topicview .ptappend {
    color: #006699;
}

.aw-forum .topicview .ptlist {
    clear: both;
    margin-top: 0.5em;
    margin-bottom: 1.3em;
    display: block;
}

.aw-forum .topicview .author {
    width: 220px;
}

.aw-forum .colinfo .cirow {
    margin: 5px 0;
    clear: both;
    padding-bottom: 3px;
    border-bottom: #73A110 1px dotted;
}

.aw-forum .colinfo .nobline {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    border-bottom: none !important;
}

.aw-forum .colinfo .tl {
    font-weight: bold;
    clear: both;
}

.aw-forum .colinfo .tl {
    float: left;
}

.aw-forum .colinfo .vl {
    width: 100%;
}

.aw-forum .colinfo .vi {
    width: 100%;
    text-align: right;
}

.aw-forum .colinfo .status {
    text-align: center;
    font-size: 1.4em;
}

.aw-forum .colinfo .priority .vi {
    font-weight: bold;
}

.aw-forum .colinfo ._dl .dt,
.aw-forum .colinfo .ddl .dt {
    font-size: 1.37em;
}

.aw-forum .colinfo ._dl .tm,
.aw-forum .colinfo .ddl .tm {
    font-size: 1.2em;
}

.aw-forum .colinfo .user {
    font-weight: bold;
    margin-bottom: 5px;
}

.aw-forum .topicview .dialog {
    padding: 7px;
    width: 500px;
    margin: 10px auto;
    line-height: 1.4em;
}

.aw-forum .topicview .dialog h4 {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 3px;
}

.aw-forum .topicview .dialog div.dbtns {
    text-align: right;
}

.aw-forum .topicview .dialog a.yes,
.aw-forum .topicview .dialog a.no {
    color: #000;
    text-decoration: underline;
}

.aw-forum .topicview .dialog a.no {
    margin-left: 10px;
}

.aw-forum .topicview .alarm {
    background-color: #FFF2F2;
}

.aw-forum .topicview ul.dfiles {
    margin-top: 10px;
}

.aw-forum .topicview ul.dfiles li.tl {
    margin-right: 10px;
}

.aw-forum .topicview ul.dfiles li {
    float: left;
}

.aw-forum .topicview ul.dfiles div.file {
    margin-bottom: 5px;
}
