.aw-forum .topiclist {

  th.tcmtcount {
    text-align: center;
  }

  td.tcmtcount {
    vertical-align: middle;
    text-align: center;
  }

  td.tlastcmt {
    white-space: nowrap;
    padding: 0.1em 0.3em 0.1em 0.3em;
    font-size: 12px;
  }

  td.tlastcmt .cmtdate {
    color: #839097;
  }

  table .removed td,
  table .removed td .prtclr,
  table .removed td a,
  table .removed td.tprt .tl {
    color: #839097;
    text-decoration: line-through;
  }
}